header.block {
    & .content {
        & .backdrop {
            display: none;
        }

        & .wp-post-image {
            width: 100%;
            height: 120%;
            object-fit: cover;
            position: absolute;
            top: -10%;
            left: 0;
            z-index: -1;
        }

        & .page-title,
        & .latest-modified,
        & .metadata {
            background-color: light-dark(var(--background-header-light),var(--background-header-dark));
            backdrop-filter: blur(7px);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        }
    }
}