header.block {
    & .content {
        .metadata {
            display: inline-flex; flex-wrap: wrap;

            & > div:not(:last-child) {
                position: relative;

                &:after {
                    content: 'â—';
                    margin: 0 .5rem;
                    opacity: .4;
                }
            }

            & .comments {
                & span {
                    display: inline-flex;
                    width: 7px;
                }
            }
        }
    }
}

.block {
    &.container--related-posts {
        background-color: light-dark(var(--background-secondary-light), var(--background-secondary-dark));
    }

    & .content-tags {
        width: min(100% - 2.5rem, 40.313rem) !important;
        padding-bottom: 2.5rem;

        & > *:not(:last-child) {
            margin-right: 3px;
        }
    }

    & .content.related-posts--title {
        text-align: center;
        padding-top: 2.5rem;
        padding-bottom: 1.25rem;
        grid-template-columns: 1fr !important;
    }

    & .content.related-posts--list {
        padding-bottom: 3rem;

        & .post {
            & .backdrop {
                background-color: light-dark(var(--background-base-light), var(--background-base-dark)) !important;
            }
        }
    }

    & .content-author {
        width: min(100% - 2.5rem, 40.313rem) !important;
        padding: 1.25rem;
        margin-bottom: 2.5rem;
        border: 0.063rem solid var(--wp--preset--color--accent-6);
        border-radius: 2rem;
        corner-shape: squircle;

        & .author-name {
            margin-bottom: 1rem;
        }

        & .avatar {
            position: relative;
            top: 0.313rem;
            float: left;
            shape-outside: margin-box;
            border-radius: 1rem;
            corner-shape: squircle;
            margin: 0 1.25rem 0 0;
        }

        & .author-description {
            font-size: var(--wp--preset--font-size--small);
        }
    }

    & .content-comments {
        width: min(100% - 2.5rem, 768px) !important;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}

@media (width < 31.25rem) {
    header.block {
        & .content {
            & .metadata {
                display: grid;

                & > div:not(:last-child) {
                position: relative;

                &:after {
                    content: '';
                    margin: 0;
                    opacity: .4;
                }
            }
            }
        }
    }
}